.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin: 0 0 0 64px;
  z-index: 2;
}

.header__subtitle {
  width: 388px;
  margin: 0px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  cursor: pointer;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}

.logo {
  border-style: none;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description__two-columns {
  margin: 100px auto 0;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two_columns__paragraph {
  list-style: none;
  margin: 0 0 30px;
}

.two_columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two_columns__span-accent {
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.digits__section-title {
  margin: 100px auto 0;
}

.digits__section-subtitle {
  margin: 20px auto 0;
}

.digits__table {
  margin: 0 auto 100px;
}

.section-title {
  width: 60%;
  text-align:center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  text-align:center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  flex-wrap: wrap;
  list-style: none;
}

.table__cell_theme_light {
  width: 250px;
  margin: 60px 0 0;
}

.table__heading_theme_light {
  margin: 0;
  text-align: left;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_light {
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 80px 0 0;
}

.table__heading_theme_dark {
  margin: 0;
  color: white;
  text-align: left;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark {
  margin: 20px 0 0;
  color: white;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  position: relative;
  min-height: 890px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.feynman__title {
  width: 648px;
  margin: 100px auto 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  margin: 70px auto 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
}

.kaufman {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  overflow: hidden;
}

.kaufman__section-title {
  margin: 90px auto 0;
  color: white;
  z-index: 1;
}

.kaufman__section-subtitle {
  margin: 20px auto 0;
  color: white;
  z-index: 1;
}

.kaufman__table {
  margin: 0 auto 90px;
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -120px;
  z-index: 0;
  height: 910px;
}

.footer {
  display: flex;
  min-height: 350px;
  justify-content: center;
  align-items: stretch;
  background-color: #1f1f1f;
  color: white;
}

.footer__columns {
  width: 90%;
  margin: 60px auto 40px;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  margin: 20px 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.social_icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
